.character {
  /* Fill the available container height */
  height: 100%;
  min-height: 500px;
  width: 35%;
  position: fixed;
  top: 0;
  right: 118px;
  padding-top: 68px;
  padding-bottom: 38px;
}
